@model int

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Programming Challenges!</h1>
    <ul>
        <li>TODO: Get current challenge with id of @Model

        </li>
    </ul>
</div>
