@model List<ChallengeFullInfo>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Programming Challenges!</h1>
    <table class="table mt-5" id="MainTable">
        <thead>
            <tr>
                <th>Difficulty</th>
                <th>Challenge Name</th>
                <th>Author Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ChallengeFullInfo challenge in Model)
            {
                <tr class="body" onclick="location.href='@Url.ActionLink("Display", "Challenge", new { aChallengeId = challenge.Id })'">
                    <td>@challenge.Difficulty</td>
                    <td>@challenge.ChallengeName</td>
                    <td>@challenge.AuthorName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
